/* 
  Order: tags, classes, IDs (alphabetical within each group).
  Please keep new styles in order!

  Pallette:
    #e68731 - orange
    #1d5366 - dark teal
    #4ba28a - light teal
    #f9f6ee - antique white
*/ 

/****************************************************/
/*********************** TAGS ***********************/
/****************************************************/

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'montserrat', sans-serif;
}

body {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f9f6ee;
  background-image: url(../images/light-streak-2.png);
  background-repeat: no-repeat;
  background-size: 15% 100%;
  background-position-x: 25%;
  background-attachment: fixed;
}


header img {
  margin-top: 3%;
  max-width: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

main {
  max-width: 50%;
}

@font-face {
  font-family: 'montserrat';
  src: url(../fonts/Montserrat/static/Montserrat-Regular.ttf) format('truetype');
}

section {
  margin: 5% auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
}

h1, h2 {
  margin-top: 3%;
}

p {
  margin-top: 5%;
}

ul {
    list-style-type: none;
}

/****************************************************/
/********************* CLASSES **********************/
/****************************************************/

.first {
  padding: 5%;
  background-color: #e68731;
}

.second {
  padding: 5%;
  background-color: #1d5366;
  color: #f9f6ee;
}

.third {
  padding: 5%;
  background-color: #4ba28a;
}

/****************************************************/
/*********************** IDS ************************/
/****************************************************/